/*
-Problèmes d'affichage quand on zoom et dézoom
-Affichage foireux avec écran taille téléphone
*/
body {
    background-image:url('../img/blur2.jpg');
    background-attachment:fixed;
    background-size:cover;
}
#container {
    float:left;
}
section {
    width:180px; /*10%*/
    height: 95%; /*1000px*/ 
    float:left;
}
section > div {
    padding:10px 0 0 20px;
    width:100%; 
    height:30px;
    background: rgba(0,0,26,1);
    color: white; 
    text-align:left;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

section div p {
    margin-top:-19px;
    margin-left:85%;
    font-weight: bold;
}

button {
  background-color: #0d0d0d;
  color: white;
  padding: 16px 20px;
  opacity: 0.9;
  border-radius:5px;
  width:50%;
  cursor: pointer;
}

button:hover {
  opacity:1;
  color:red;
}


#btn1, #btn2 {
  border:1px solid white;
  width:100%;
  margin:auto;
}

.bandeau-haut{
  width:100%;
  height:70px;
  background-color:#e6e6e6;
  margin-top:0;
}
hr {
  border:6px solid #800000;
}

h1 {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size:75px;
  margin-top:0;
  text-align:center;
}
