* {box-sizing: border-box}

.bandeau-haut {
  height: 90px;
  width:100%;
  background-color:rgb(255, 255, 255);
  margin-top:0;

}

@font-face{
  font-family:"tournois";
  src:url(../font/OpenSansCondensed-Bold.ttf);
}

h3 {
  font-family:tournois;
  font-size:25px;
  padding:15px 0 0 0;
  float:left;
  margin:10px 0 0 20px;
  color:black;
}

.bandeau-haut h3:hover{
  color:#0073e6;
  border-bottom:2px solid black;
}

body {
  background-image:url(../img/blur2.jpg);
  background-size:cover;
  background-attachment:fixed;
  margin:0%;
}

.cadre {
  margin:auto;
  width:80%;
}

h1 p {
  text-align:center;
  color:white;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size:50px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

table{
  height:;
  width:100%;
  background-color:#333333;
}

th {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size:30px;
  color:white;
  border:2px solid white ; 
  border-collapse: collapse;
  width:100px;
}


table,td {
  border:2px solid white ; 
  border-collapse: collapse;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size:20px;
  color:white;
  text-align:center;
  
}

.btn{
  border:none;
  background-color:transparent;
  color:white;
  outline:none;
  display:block;
  cursor:pointer;
  margin:auto;
  text-decoration:underline;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size:20px;
}
.btn:hover{color:yellow;}