* {box-sizing: border-box}

body {
  background-image:url(../img/blur2.jpg);
  background-size:cover;
  background-attachment:fixed;
  margin:0%;
}

h1 {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size:75px;
  margin-top:0;
  text-align:center;
}

.bandeau-haut{
  width:100%;
  height:70px;
  background-color:#e6e6e6;
  margin-top:0;
}

br {
  border:6px solid #800000;
}

.container-main {
	border:1px solid black;
	margin:5% 10% 0 10%;
	height:100%;
	padding-bottom:;
	background-color:rgb(255, 255, 255,0.1);
	color: rgb(255, 255, 255);
}

.listeContact {
	
}